html{
  font-family: Helvetica, sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
#main-container{
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
}
.center-elements{
  align-items: center;
  align-content: center;
  justify-content: center;
}
#header{
	min-height: 500px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(255, 255, 255, 0.00)),url('images/header-background.jpg');
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
  width:100%;
  height:100%;
}
#enter-container{
	height: 10%;
	width: 100%;
	margin-bottom: 5%;
	justify-content: right;
}
#enter{
	width: 100px;
	height: 30px;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	margin-top:1%;
  margin-right: 10%;
  
}
#title{
  max-width: 1000px;
  font-size: 28px;
}
#title-container{
  color: white;
	height: 60%;
  width: 80%;
  padding-top: 0vh;
  font-size: 20px;
  text-align: center;
  padding-bottom: 7%;
}
#arrow{
	padding-left: 7%;
	padding-right: 0;
	padding-top: 5%;
	min-width: 30%;
	border-right: 1px solid white;
	max-height: 100%;
}
#text-enter{
	min-width: 30%;
	max-height: 100%;
	padding-left: 5%;
	padding-right: 0;
  padding-top: 5%;

}
#main-content{
	flex:30%;
  min-height: 30%;
  padding-bottom: 3rem;
}
#footer{
	flex:30%;
  min-height: 30%;
}
.center-horizontal{
  flex-direction: column;
}
#main-content{
}
#container-oportunities{
  max-width: 100%;
}
.oportunities{
  flex: 30%;
  text-align: center;

}
.oportunity-title{
  font-size: 20px;
}
.oportunity-description{
  font-size: 12px;
  margin-top: 0;
}
.oportunity-image{
  max-width: 70%;
}
#second-title{
  font-size: 24px;
  margin:5vh;
  text-align: center;
  margin-bottom: 3rem;
}
#footer{
  min-height: 70vh;
  background-color: #EEEEEE;
  text-align:center;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  margin-bottom: 0;
  padding-bottom: 0;
}
#third-title{
  font-size: 26px;
  max-width: 60%;
}
#footer-text{
  margin-top:5vh;
  font-size: 22px;
  max-width: 37%;
}
#cellphone-image{
  max-width: 100%;
  margin-bottom: 0;
}
#black-bar{
  background-color: black;
  width: 100%;
  height: 10vh;
}
#contenedor-boton-conoce{
  min-width: 30%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
#boton-conoce{
  width: 100%;
  background-color: rgb(90, 132, 238);
  color: white;
  height: 10vh;
  border-style: none;
}
i{
  color:white;
}
#search-container{
  font-size: 16px;
  max-height: 8vh;
  margin-top: 7vh;
  padding: 0px;
  min-width: 100%;
}
#search-container div{
  margin: 0;
  padding: 0;
}
#search-boton-container{
  flex:7%;
  width:10%;
}
.option-search-container{
  flex:10%;
  width: 15%;
}
#input-container{
  flex:50%;
  width: 50%;
}
#checkbox-solo-desarrollo{
  font-size: 10px;
  flex:10%;
  width: 10%;
  padding-top: 10px !important;
  background-color: white;
  color : #BBBBBB;
  text-align: center;
}
.searcher{
  min-height: 100%;
  border-radius: 0px;
  background-color: white;
  border-style: none;
  background-image: url('images/arrows_select.png');

}
.select-searcher{
  background-color: white;
  min-height: 100%;
}
.option-search{
  min-height: 100%;
  min-width: 100%;
  background-color:  rgb(90, 132, 238);
  border-style: none;
  border-radius: 0;

}
#search{
  max-height: 10vh;
  margin: 0;
  padding: 0;
}
#input-search{
 
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border-style: none;
  border-radius: 0;
}
select {
  background-color: white;
  border: thin solid grey;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.7em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select{
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  .8em .8em;
  background-repeat: no-repeat;
}

select.arrows:focus {
  border-color: blue;
  outline: 0;
}
@media (max-width: 600px){
	#header{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(255, 255, 255, 0.00)),url('images/smallbackground.jpg');
  }
	.oportunities{

    flex: 100%;
  }
  .option-search-container{
    display: none;
  }
  #input-container{
    flex:75%;
    max-width: 75%;
  }

#search-boton-container{
  min-width: 15%;
  flex:25%;
  max-width: 15%;
}
.option-search{
  min-width: 100%;
}
#search-container{

  max-height: 10vh;
  margin-top: 7vh;
}
#third-title{
  max-width: 100%;
}
}
.red{background-color: red;}
.green{background-color: green;}