html{
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100%;
  height: 10000px;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
}
.center-elements {
	align-items: center;
	align-content: center;
	justify-content: center;
}
.center-horizontal {
	flex-direction: column;
}
.payment-container{
  width: 290px;
  padding: 20px 0 10px 0;
  height: auto;
  margin-bottom: 10px;
}

.payment-container div{
  width: 90%;
}
.container-title{
  font-size: 18px;
  color: rgb(74, 74, 74);
  text-align: center;
  height: 50px;
}
.container-body{
color: rgb(74, 74, 74);
font-size: 16px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
}
.container-body .payment-section{
  width: 100%;
}
.option{
  height: 9%;
}
.master-card{
  margin-top:20px;
}
.amex{
  margin-top:20px;
}
.option .option-image{
  width:10%
}
.option .option-text{
  width:90%
}
.cards{
  height: 100px;
}
.cards .contenedor-tarjeta
{
  width: 30%;
  height: 90%;
}
.contenedor-tarjeta img{
  max-width: 80%;
  margin-left: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 2px;
  border-color: rgb(204, 204, 204);
border-radius: 4px;
}
.contenedor-tarjeta #visa-image{  
  margin-top:40%;
}
.form-container{
  background-color: rgb(249, 249, 249);
  font-size: 14px;
  height: auto;
}
.comission-message{
  height: 30px;
}
.form-element{
  height: 60px;
  flex:100%;
  padding-left: 10px;
  margin-top:20px;
}
.form-element input{
  width: 90%;
  padding-left: 15px;
}
.form-element.two-elements .half-element{
  flex:50%;

}
.form-element.two-elements input{
  width: 8  0%;
}
.vigencia input{
  max-width: 80%;
}
.cvc input{
  max-width: 80%;
}
.codigo-postal input{
  max-width: 80%;
}
input{
  border-radius: 2px;
  box-shadow: none;
  height: 30px;
  border: 1px solid rgb(236, 236, 236);
}
.form-element.guardar-tarjeta{
  height: 10%;
  font-size: 16px;
  background-color: white;
  max-width: 80%;
  margin-left: 15px;
  border: 1px solid rgb(236, 236, 236);
  margin-bottom: 20px;
  
}
.guardar-tarjeta .checkbox-guardar{
  
  height: 30px;
  width: 15px;
  left: 9px;
  top: 5px;
  border-width: 0 3px 3px 0;
  border: 5px solid rgb(141, 122, 255);
  border-radius: 4px;

}
.guardar-tarjeta label{
  vertical-align: middle;
    position: relative;
    bottom: 9px;
}
.form-element button{
  width: 90%;
  border-color: rgb(141, 122, 255);
  background-color:rgb(141, 122, 255) ;
  margin-left: 10px;
  color:white;
  border-radius: 4px;
  height: 30px;
  box-shadow: none;
}
.form-element.codigo-postal input{
  width: 40%;
}
.form-element.button-contianer{
  display: none;
  visibility: hidden;
  height: 30px;
  margin-bottom: 20px;
}
.mastercard-message{
  visibility: hidden;
  display: none;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}
.mastercard-message input{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#comission-text{
  font-size: 14px;
}