<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      @font-face {
        src: url("avenir next sv/AvenirNextLTPro-Regular.otf") format("opentype");
      }
      body{

        font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
      }
      *{
        text-align: center;
      }
      .flex-container{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #boton-container{
        margin-top: 1rem;
      }
      .center-horizontal{
        flex-direction: column;
      }
      .header-image
      {
        flex : 100%;
      }
      #main{
        margin-top: 0;
      }
      #title{
        margin-top: .5rem;
      }
      #continue-register-button{
        background-color: white;
        font-size: 18px;

        padding-right: 8vw;
        padding-left: 8vw;
        border-color: #8D7AFF;
        color:#8D7AFF;
        padding-top: 1.2vw;
        padding-bottom: 1.2vw;
        white-space: nowrap;
        border-radius: 0;
      }
      .benefits
      {
        display: flex;
        flex-direction: column;
      }
      #benefits-title{
        flex:100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      #title, #benefits-title{
        color:#666666;
        font-size: 20px;
      }
      #footer{
        max-width: 60%;
      }
      .benefits img{
        max-width: 80%;
      }
      .register-description{
        color:#666666;
        line-height: 25px;
        padding-left: 28%;
        padding-right: 28%;
      }
      #register-description-start{
        width: 756px;
      }
      #register-description-end{
        width: 590px;
      }
      a{
        color: #8D7AFF;
      }
      #benefits-title{
        font-size: 18px;
      }
      .benefits p{
        margin-top: 3rem;
      }
      .imagenes-plataformas {
        text-align: center;

      }
      .imagenes-plataformas div{
        margin: 5px auto 0 auto;
      }
      .linea-dos-imagenes{
        max-width: 500px;
      }
      .linea-tres-imagenes{
        max-width: 650px;
      }
      .imagen-plataforma{
        display: inline-block;
        width: 200px;
       }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
